<div class="container">
  <br>
  <mat-card>
    <section class="mat-typography">
      <h2><b>Add New Patients</b></h2>
    </section>

    <mat-divider></mat-divider>

    <br><br><br>
    
    <form [formGroup]="createForm" class="create-Form">

      <label><b>Details of Student: </b></label>
      <br>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Registration Number" formControlName="reg_No" #reg_No>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Name with Initial"  formControlName="name" #name>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Age" formControlName="age" #age>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Address"  formControlName="address" #address>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Mobile Number"  formControlName="mobile_No" #mobile_No>
      </mat-form-field>

      <br>
      <br>
      
      <label><b>Details of Mother: </b></label>
      <div formGroupName="mother">
      <mat-form-field class="field-full-width">
          <input matInput placeholder="Name of Mother"  formControlName="name" #name>
      </mat-form-field>
      <mat-form-field class="field-full-width">
          <input matInput placeholder="Age"   formControlName="age" #age>
      </mat-form-field>    
      <mat-form-field class="field-full-width">
          <input matInput placeholder="Job"  formControlName="job" #job>
      </mat-form-field>
    </div>
      <br>
      <br>
      
      <label><b>Details of Father: </b></label>
      <div formGroupName="father">
      <mat-form-field class="field-full-width">
          <input matInput placeholder="Name of Father" formControlName="name" #name>
      </mat-form-field>
      <mat-form-field class="field-full-width">
          <input matInput placeholder="Age" formControlName="age" #age>
      </mat-form-field>    
      <mat-form-field class="field-full-width">
          <input matInput placeholder="Job" formControlName="job" #job>
      </mat-form-field>
    </div>
      <br>
      <br>

      <!--
      <label><b>Diseases: </b></label>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Diseases" formControlName="diseases" #diseases>
      </mat-form-field>
      -->

      <div formArrayName="diseases">
        <label><b>Diseases: </b></label>
        <br>
         <button (click)="addDiseases()" mat-raised-button color="primary">Add Diseases</button>
         <br>
    
        <div *ngFor="let address of diseases.controls; let i=index">
          <!-- The repeated alias template -->
         

          <mat-form-field class="field-full-width">
            <input matInput placeholder="Diseases" [formControlName]="i">
          </mat-form-field>
        </div>
      </div>
      

      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink = "/patient">Back</button>
      <button type="submit" (click) = "addPatient(this.createForm.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
  
  
  
</div>
